<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HipChatJsonify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F510B7821D60A9C900553252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F510B7961D60A9C900553252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F510B7A11D60A9C900553252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
